@import 'styles/base/variables';

.scroll__button {
  padding: 10px;
  background: transparent;
  border: 1px solid $dark-grey;
  border-radius: 5px;

  &:hover,
  &:focus {
    background: $white-color;
  }
}
