@import 'styles/base/variables';
@import 'styles/base/mixins';

.weather_item {
  &__wrapper {
    @include flex__constructor($direction: column, $justify: normal, $gap: 10px);
    min-width: 100px;
    overflow: hidden;
  }

  &__day_week {
    color: $black-color;
    opacity: 0.7;
  }
}
