@import 'styles/base/variables';
@import 'styles/base/extends';
@import 'styles/base/mixins';

.input {
  background: transparent;
  width: 100%;

  &__image {
    @extend %image;

    &_wrapper {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__wrapper {
    @include flex__constructor($justify: normal, $gap: 10px);
    background: $white-color;
    padding: 10px;
    border: $border-constructor;
    border-radius: 10px;
    width: 30%;
    transition: $transition-4;

    @media (max-width: 600px) {
      width: 100%;
    }

    &_focus {
      border: 1px solid $active-color;
    }

    &:hover {
      border: 1px solid $active-color;
    }
  }
}
