@import 'styles/base/variables';
@import 'styles/base/extends';
@import 'styles/base/mixins';

.form {
  &__wrapper {
    @include flex__constructor($direction: column, $justify: normal, $align: normal, $gap: 15px);
    padding: 50px 20px;
    border-top: $border-constructor;
    border-bottom: $border-constructor;
  }

  &__error_message {
    @extend %error-message;
  }
}

.select__require {
  @extend %error-message;
  margin-right: 5px;
}

.button_section {
  @include flex__constructor($justify: flex-end, $align: normal, $gap: 15px);
  padding: 15px;
}
