@import './base/reset';
@import './base/variables';
@import './base/extends';
@import './base/mixins';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
}
