@import 'styles/base/variables';
@import 'styles/base/mixins';

.calculator__wrapper {
  color: $white-color;
  @include flex__constructor($justify: space-evenly);

  @media (max-width: 800px) {
    margin: 50px 0;
  }
}

.item {
  &__wrapper {
    @include flex__constructor($direction: column);
  }

  &__value {
    font-size: 24px;
    font-weight: 600;
  }

  &__name {
    font-size: 12px;
    opacity: 0.8;
  }
}
