@import 'styles/base/variables';
@import 'styles/base/mixins';

.main {
  margin-left: 50px;
  @include flex__constructor($justify: normal, $align: normal, $gap: 20px);

  @media (max-width: 800px) {
    @include flex__constructor($direction: column, $justify: normal, $align: normal, $gap: 20px);
    margin: 0 50px;
  }

  @media (max-width: 550px) {
    margin: 0 20px;
  }

  &__cities {
    @include flex__constructor($direction: column, $justify: normal, $align: normal, $gap: 20px);
    width: 70%;
    margin: 50px 0;

    @media (max-width: 800px) {
      width: 100%;
    }

    &_title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    &_filter_wrapper {
      @include flex__constructor();

      @media (max-width: 600px) {
        @include flex__constructor($direction: column, $gap: 20px);
      }
    }
  }

  &__weather_week__title {
    font-size: 20px;
  }

  &__weather_today {
    width: 30%;
    background-color: $background-section-weather-today;

    @media (max-width: 800px) {
      width: 100%;
      padding: 20px;
    }
  }
}
