@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.select {
  &__button {
    max-width: 10px;
    max-height: 10px;
    opacity: 0.5;
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &_wrapper {
      @include flex__constructor($gap: 50px);
      padding: 10px;
      border: 1px solid $light-grey;
      color: $dark-grey;
      background: transparent;

      @media (max-width: 850px) {
        @include flex__constructor($gap: 20px);
      }
    }

    &_icon__close {
      @extend %image;
      transition: $transition-4;
    }

    &_icon__open {
      @extend %image;
      transform: rotate(180deg);
      transition: $transition-4;
    }
  }

  &__wrapper {
    @include flex__constructor($direction: column, $justify: normal, $align: normal, $gap: 10px);
    position: relative;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &__option {
    background: transparent;
    padding: 10px 0 10px 10px;
    text-align: left;
    transition: $transition-4;

    &:hover {
      background: $white-color;
    }

    &_list {
      @include flex__constructor($direction: column, $justify: normal, $align: normal);
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      background: $light-white-color;
      border: 1px solid $light-grey;
      overflow-y: auto;
      max-height: 200px;
    }

    &_choose {
      color: $black-color;
    }
  }
}
