@import 'styles/base/variables';
@import 'styles/base/mixins';

.button {
  &__color {
    @include button__constructor($border: $active-color);

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  &__general {
    @include button__constructor($background: $light-white-color, $color: $black-color);

    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }
}
