@import 'styles/base/extends';
@import 'styles/base/mixins';

.header {
  @extend %header-footer;
  @include flex__constructor();
  padding-right: 30px;

  @media (max-width: 500px) {
    padding-right: 10px;
  }

  &__wrapper {
    margin: 0 50px;

    @media (max-width: 500px) {
      margin: 0 20px;
    }
  }

  &__nickname {
    font-weight: 600;
  }
}
