@import 'styles/base/variables';
@import 'styles/base/extends';
@import 'styles/base/mixins';

.button {
  @include flex__constructor($direction: column, $justify: center, $gap: 5px);
  min-width: 200px;
  min-height: 240px;
  background-color: $white-color;
  border: $border-constructor;
  transition: $transition-4;

  &:hover,
  &:focus {
    border: 1px solid $active-color;
  }

  &__image {
    @extend %image;

    &_wrapper {
      max-width: 20px;
      max-height: 20px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
  }
}
