@import 'styles/base/variables';
@import 'styles/base/mixins';

.button {
  &__wrapper {
    background: transparent;
    border: $border-constructor;
    min-width: 200px;
    transition: $transition-4;

    &:hover,
    &:focus {
      border: 1px solid $active-color;
    }
  }

  &__image {
    width: 100%;
    min-height: 150px;

    &_wrapper {
      max-width: 200px;
      max-height: 150px;
    }
  }

  &__info {
    @include flex__constructor($direction: column, $justify: normal, $align: flex-start, $gap: 20px);
    margin: 20px;
    &_day {
      color: $black-color;
      opacity: 0.7;
    }
  }
}
