@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.modal {
  margin: auto;
  width: 50%;
  -webkit-box-shadow: $modal-box-shadow;
  -moz-box-shadow: $modal-box-shadow;
  box-shadow: $modal-box-shadow;

  @media (max-width: 650px) {
    width: 80%;
  }

  &__title {
    padding: 20px;
    font-size: 18px;
    @include flex__constructor();
  }

  &::backdrop {
    background-color: $white-color;
    opacity: 0.9;
  }

  &__button {
    &_close {
      background: transparent;
      max-width: 18px;
      max-height: 18px;
      transition: $transition-4;

      &:hover {
        opacity: 0.5;
      }
    }

    &_image {
      @extend %image;
    }
  }
}
