@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.input {
  padding: 10px;
  border: 1px solid $dark-grey;
  transition: $transition-4;

  &:hover,
  &:focus {
    border: 1px solid $active-color;
    transition: $transition-4;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &__label {
    @include flex__constructor($direction: column, $justify: normal, $align: normal, $gap: 10px);
    font-size: 16px;
  }

  &__require_marker {
    @extend %error-message;
    margin-right: 5px;
  }

  &__error {
    @extend %error-message;
  }
}
