@import 'styles/base/variables';
@import 'styles/base/mixins';
@import 'styles/base/extends';

.wrapper {
  @include flex__constructor($direction: column, $justify: space-around, $align: normal);
  height: 100%;
}

.weather_today {
  &__wrapper {
    @include flex__constructor($direction: column, $justify: normal, $gap: 10px);
    color: $light-white-color;
  }

  &__day {
    font-size: 24px;
    font-weight: 600;
  }

  &__forecast_display {
    @include flex__constructor($justify: normal, $gap: 15px);
  }

  &__temperature {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
  }

  &__degree {
    position: absolute;
    top: 0;
    font-size: 10px;
  }

  &__city_name {
    font-size: 22px;
  }

  &__error {
    color: $light-white-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    display: block;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
  }

  &__image {
    @extend %image;

    &_wrapper {
      max-width: 100px;
      max-height: 100px;
    }
  }
}
