@import 'styles/base/variables';
@import 'styles/base/mixins';

.weather_list {
  &__wrapper {
    @include flex__constructor($justify: normal, $align: normal, $gap: 20px);
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: auto;
    padding-bottom: 15px;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: $active-color;
    }

    &::-webkit-scrollbar-track {
      background: $white-color;
    }
  }

  &__buttons {
    @include flex__constructor($justify: space-evenly, $align: normal);
    margin-top: 20px;
  }
}
