@import './variables';

%header-footer {
  background: $white-color;
  padding: 20px 0;
  font-size: 16px;
}

%error-message {
  color: $error-color;
  font-weight: 600;
}

%image {
  width: 100%;
  height: 100%;
}
