@import './variables';

@mixin flex__constructor($direction: row, $justify: space-between, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin button__constructor($background: $active-color, $color: $light-white-color, $border: $light-grey) {
  background: $background;
  color: $color;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  transition: $transition-2;
  border: 1px solid $border;
}
