$light-white-color: rgb(255, 255, 255);
$white-color: #eee;
$error-color: rgb(255, 0, 0);
$active-color: rgb(159, 159, 251);
$light-grey: rgb(204, 204, 204);
$dark-grey: rgb(153, 153, 153);
$black-color: rgb(0, 0, 0);

$background-section-weather-today: rgb(43 48 87);

$border-constructor: 1px solid #eee;

$modal-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.52);

$transition-2: all 0.2s ease-in-out;
$transition-4: all 0.4s ease-in-out;
